
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="#">Pet project issue tracker</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Issues</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Projects</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About</a>
			</li>
		</ul>
		<!-- <form class="form-inline my-2 my-lg-0"> -->
		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
			 	Profile actions
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li class="dropdown-item"> <a href="#"> <span><i class="fa fa-home"></i> </span> Home</a> </li>
          		<li class="dropdown-item"> <a href="#"> <span><i class="fa fa-user"></i> </span> Profile</a> </li>
          		<li class="dropdown-item"> <a href="#"> <span><i class="fa fa-power-off"> </i> </span> Logout</a> </li>
			</ul>
        </div>
			<!-- <input class="form-control mr-sm-2" type="text" placeholder="Search for issues">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
<!-- 		</form> -->
	</div>
</nav>
<!--   <div class="user-dropdown">
          <a href="#" class="dropdown-item"><span class="mr-3"><i class="fa fa-home"></i></span> Home</a>
          <a href="#" class="dropdown-item"><span class="mr-3"><i class="fa fa-user"></i></span> Profile</a>
          <a href="#" class="dropdown-item"><span class="mr-3"><i class="fa fa-building"></i></span> Company</a>
          <a href="#" class="dropdown-item"><span class="mr-3"><i class="fa fa-credit-card"></i></span> Billing</a>
          <a href="#" class="dropdown-item"><span class="mr-3"><i class="fa fa-exclamation-circle"></i></span> Report a Problem</a>
          <a href="#" class="dropdown-item"><span class="mr-3"><i class="fa fa-power-off"></i></span> Logout</a>
        </div>
        <div class="shape"></div> -->
<!-- <nav class="navbar navbar-toggleable-md">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Pet issue tracker</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Dashboard<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Issues</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Issues</a>
          </li>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Create an Issue</button>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control mr-sm-2" placeholder="Search an issue" type="text">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
  </nav> -->

