<!DOCTYPE html>

<html>
<head>

</head>

<div *ngIf="isLoggedIn(); else elseBlock">
    <app-header></app-header>
    <!--ng router should be here-->
</div>

<ng-template #elseBlock>
  <div class="container">

  <div class="row align-items-center">
  	<div class="login-form">
  		<div>
        <h4>Sign in, please</h4>
  		</div>

      <div>
  		<form class="form" (submit)="logIn(login.value, password.value)">

  			<div>
  				<div class="form-group">
  					<input type="text" #login class="form-control" placeholder="username" required="true"/>
  				</div>

  				<div class="form-group">
  					<input type="password" #password class="form-control" placeholder="password" required="true"/>
  				</div>

  				<div class="form-group">
            <p>Click <a href="#">here to sign up</a></p>
  					<button type="submit" class="btn btn-success">Sign in</button>
  					<span ng-if="returnedError" class="text-danger">{{ error }}</span>
  				</div>
  			</div>

  		</form>
  	</div>
  </div>
  </div>

</div>
</ng-template>

<app-footer></app-footer>

</html>